<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">

    <!-- import waypoint and greensock -->

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Oleo+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bevan&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Johnny Cash Infographic</title>
</head>
<body>

  <div class="container">
<header class="header">
  
    <h1>Johnny Cash</h1>
    <h2>Man In Black</h2>
    <p>Live At Folsom Prison</p>
  
   
</header>

   <img class="responsive" src=images/caash.svg alt="face" height= "500" width="500" id="mobileImage">
   <img class="responsive" src=images/caash1.svg alt="face" height= "300" width="300" id=desktopImage >


    <section class="articles">
<div class="boxes">
      <div id="box">
      <h1>The Story</h1>
      <button type="button" name="button">Read More...</button>
      <img class="responsive" src=images/finger.svg alt="face" height="500" width="500"> 
    </div>

    <div id="box1">
      <h1>The Album</h1>
      <button type="button" name="button">Read More...</button>
      <h1>Best Song Voted By Fans</h1>
      <img class="responsive"src=images/baar.svg alt="face" height="250" width="250"> 
    </div>

    <div id="box2">
      <h1>At Folsom</h1>
      <button type="button" name="button">Read More...</button>
       <img class="responsive" src=images/jaail.svg alt="face" height="400" width="400"> 
      </div>

     <div id="box3">
      <h1>Awards</h1>
      <button type="button" name="button">Read More...</button>
      <img class="responsive" src=images/graamy.svg alt="face" height="200" width="200"> 
  </div> 

  <!-- <div id="box4">
      <h1>Top Album Sales</h1>
      <img src=images/bar_graph.svg alt="face" height ="250" width="250">
  </div> -->
</section>



   

    <!-- <section id="graph2">
      <h1>Top Album Sales</h1>
      <img src=images/bar_graph.svg alt="face" height ="250" width="250">

    </section>-->
  
  </div>
    <script src="js/main.js"></script>
</body>
</html>